@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/settings" as *;

nav.top-navbar {
    padding: 20px 100px;
    @include flex(space-between, center, row, 10px);

    .middle {
        a {
            padding: 10px 0;
            margin: 0 20px;

            &.active,
            &:hover {
                color: $accent;
                border-bottom: 1px solid $accent;
            }
        }
    }

    .right {
        button {
            margin: 0 5px;

            &.lang-btn {
                padding: 10px 20px;
                border: none;
                outline: none;
                color: $white;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}