@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

@mixin grid($columns: 12, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
}

// USAGE:
// @include grid();
// @include grid(3, 10px);